.navbar-nav-svg {
  width: 1.5em;
  height: 1.5em;
  color: white;
}

.timestamp {
  max-width: 5em;
}

.break-entry, .break-entry input {
  background-color: #dddddd;
}

.elapsed-time {
  font-size: 75%;
  color: #666666;
}
